@page
@model IGBLWebsite.Pages.RulesModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rules</title>
</head>
<body>
</body>
</html>
